<div id="apresentacao">
  <div class="centro">
    <h1 class="centro">
      {{title}}!
    </h1>
    <h3>Seu gerador pessoal de nomes de academia</h3>
  </div>
  <p class="centro">Este aplicativo tem como finalidade gerar nomes aleatórios de academia</p>
  <div class="centro">
    <button type="button" id="botao_gerar" (click)="generate_gym_name()" class="btn btn-primary">{{ botaoGerar }}</button>
  </div>
</div>

<h1 class="centro" id="generatedName">{{firstName}} {{lastName}}</h1>

<h2 class="centro"><a href="http://www.{{domain}}" target="_blank">{{domain}}</a> {{dominioDisponivel}}</h2>

<ngx-ui-loader></ngx-ui-loader>
